               <!-- course-card -->
<mat-card routerLink="/course">
    <mat-card-header>
       <div>1</div> 
       <mat-icon class="icon">school</mat-icon>
    </mat-card-header>
    <mat-card-content>
      Course
    </mat-card-content>
</mat-card>
                    <!-- batch-card  -->
<mat-card routerLink="/batch">
    <mat-card-header>
      <div>2</div>
       <mat-icon>dashboard</mat-icon>
    </mat-card-header>
    <mat-card-content>
      Batch
    </mat-card-content>
</mat-card>
                    <!-- Dues-card  -->
<mat-card>
    <mat-card-header>
      <div>3</div>
       <mat-icon>dashboard</mat-icon>
    </mat-card-header>
    <mat-card-content>
      Dues
    </mat-card-content>
</mat-card>
                <!-- fees-card  -->
<mat-card>
    <mat-card-header>
      <div>4</div> 
       <mat-icon>dashboard</mat-icon>
    </mat-card-header>
    <mat-card-content>
      Fees
    </mat-card-content>
</mat-card>
                      <!-- result-card  -->
<mat-card>
    <mat-card-header>
      <div>5</div> 
       <mat-icon>dashboard</mat-icon>
    </mat-card-header>
    <mat-card-content>
      Result
    </mat-card-content>
</mat-card>
                       <!-- take admission -->
<mat-card>
    <mat-card-header>
       <div>6</div>
       <mat-icon class="icon">dashboard</mat-icon>
    </mat-card-header>
    <mat-card-content>
      content
    </mat-card-content>

</mat-card>






<!-- <mat-grid-list cols="4" rowHeight="3:2" gutterSize="10px">
    <mat-grid-tile style="background: red;">
      <mat-icon>dashboard</mat-icon><br>
      <div> <br><br><br><br> course</div>
    </mat-grid-tile>
    <mat-grid-tile style="background: red;">  </mat-grid-tile>
    <mat-grid-tile style="background: red;">  </mat-grid-tile>
    <mat-grid-tile style="background: red;">  </mat-grid-tile>
    <mat-grid-tile style="background: red;">  </mat-grid-tile>
    <mat-grid-tile style="background: red;">  </mat-grid-tile>
    <mat-grid-tile style="background: red;">  </mat-grid-tile>
</mat-grid-list> -->
